.create-profile-page-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #F7F9FE;
}

.create-profile-form-container{
  position: absolute;
  width: 855px;
  height: 1080px;
  left: 1065px;
  top: 0px;

  background: #FFFFFF;
}

.profile-image-upload-text{
  position: absolute;
  left: 38%;
  top: 28%;
}

.profile-image-vertical {
  position: absolute; 
  width: 132px; 
  top: 15%; 
  left: 30%; 
  transform: rotate(90deg)
}

.profile-image-vertical-text {
  position: absolute; 
  width: 132px; 
  top: 9%; 
  left: 28.5%; 
  transform: rotate(-90deg);
  font-family: cursive;
}

.addiction-selector {
  top: 46%;
}

.group-selector {
  top: 54%;
}
